*{
    text-align: center;
}
table{
    caption-side: bottom;
}
td:first-child{
    width: 300px;
    font-weight: bold;
}
td:nth-child(2){
    width: 60px;
}
td:nth-child(3){
    width: 100px;
}
td:nth-child(4){
    width: 100px;
}
td:nth-child(5){
    width: 100px;
}
td{
    height: 50px;
    border-bottom: dashed;
    border-right: dashed;
}
td:nth-child(6){
    width: 100px;
    border-right: none;
}
tr:first-child{
    background-color: gray;
    font-weight: bold;
}
tr:first-child td{
    border-style: none;
}
tr:hover{
    background-color: aqua;
}
tr:first-child:hover{
    background-color: gray;
}