table{
    border-collapse: collapse;
}
td{
    height: 80px;
    width: 80px;
    border: 2px solid black;
}
tr:nth-child(odd) td:nth-child(odd){
    background-color: black;
}
tr:nth-child(even) td:nth-child(even){
    background-color: black;
}