.container_2{
    width: 15em;
    height: 705px;
    background-color: #f1e5e5;
    float: left;
}
.navigation{
    height: 450px;
    width: 15em;
    background-color: #c5bcbc;
}
.article_1{
    height: 350px;
    background-color: gray;
    margin-bottom: 5px;
}
.footer{
    background-color: #c5bcbc;
}
.imag{
    float: right;
    margin-top: 50px;
}